<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4" id="title"><a href="/" class="text-danger"><b>Tampa Bay Buccaneers News</b></a></h1>
    <hr class="my-4">
    <p class="j-text"><b>All your up to date Buccaneers sports news w/ a Mongodb Scraper!</b></p>
    <p class="j-text"><b>Click the scrape button to get new articles or click the saved button to get your saved articles</b></p>
    <hr class="my-4">
    <button type="button" class="btn btn-primary" id="scrapeBtn">Scrape Articles</button>
    <a href="/saved" class="btn btn-warning link" id="savedArtBtn" role="button">Saved Articles</a>
    <button type="button" class="btn btn-danger" id="clearBtn">Clear Articles</button>
  </div>
</div>

<div class="container text-center">
  <h3>Latest Team News</h3>
    <hr class="my-4">
  {{#each article}}
    <div class="card">
      <h3 class="card-header">{{this.title}}</h3>
            {{#if summary}}
            <p class="card-text"><b>{{this.summary}}</b></p>
            {{else}}
            <p class="card-text"><b>Click (Read More) to open article</b></p>
            {{/if}}
      <hr class="my-4">
      <div class="row">
        <div class="col-lg-8 d-flex justify-content-around">
          <a href="{{this.link}}" target="_blank" class="btn btn-secondary m-2 link" role="button">Read More</a>
        </div>
        <div class="col-lg-2">
          {{#if saved}}
          <button class="btn btn-secondary m-2 disabled">Article Saved</button>
          {{else}}
          <button class="btn btn-success m-2 btn-save" id="saveArt" data-id="{{this._id}}">Save Article</button>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>